@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background: rgba(70, 176, 192, 0.933);
}
.container{
    width: 80%;
    margin: 80px auto;
    background: url("/assets/bg.jpg") no-repeat center center/cover;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}
.container h1{
    padding: 60px 0;
    color: #fff;
    font-size: 44px;
    text-align: center;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 10px;
}
.col{
    flex-basis: 50%;
    min-width: 250px;
}
.feature-img{
    width: 83%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    display: inline-block;
    padding-left: 50px;
}
.small-img-row{
    display: flex;
    background: #efefef;
    margin: 20px 0;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    width: 85%;
    /* padding-left: 20px; */
}
.small-img{
    position: relative;
    display: inline-block;
  
}
.small-img img{
    width: 150px;
    display: flex;

}
.small-img-row p{
    margin-left: 20px;
    color: #707070;
    line-height: 22px;
    font-size: 15px;
    width: 200px;
}
.play-btn{
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.small-img .play-btn{
    width: 35px;
}
.video-player{
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    display: none;
}
video:focus{
    outline: none;
}
.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;
}
.hover-image {
    display: block;
    width: 100%;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.hover-image:hover {
    transform: scale(1.1);
    opacity: 0.8;
}
.feature-img:hover .hover-image {
    filter: grayscale(100%) sepia(100%) hue-rotate(180deg);
}